<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"site-main","className":"site-main","layout":{"type":"default"}} -->
<main class="wp-block-group site-main" id="site-main"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60)"><!-- wp:query-title {"type":"archive","level":1} /--></div>
<!-- /wp:group -->

<!-- wp:nsw-theme/news-list /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
